/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-oct-2022, 18:46:30
    Author     : Sergio
*/

fieldset{
    border-color: blue;
    width: 50%;
    margin: 0 auto;
}

legend{
    color: blue;
}

h3{
    color: blue;
}

body{
    text-align: center;
}